<div class="col-lg-4">
</div>

<div class="col-lg-4">
	<%= simple_form_for [:admin, @cliente] do |f| %>
	  <%= f.input :nome, input_html: {required: :required} %>
	  <%= f.input :email %>
	  <%= f.input :telefone %>
	  <%= f.input :endereco %>

	  <%= f.button :submit, :class => 'btn-primary' %>
	  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
	                admin_clientes_path, :class => 'btn btn-default' %>
	<% end %>
</div>
<div class="col-lg-4">
</div>